<%= link_to "Home", root_path %>
	<br>
	<% if user_signed_in? %>
		<% if current_user.superadmin? %>
			<h3>Welcome Super Admin</h3>
			<br><%= link_to("See all Members", "/users") %><br>
		<% elsif current_user.admin? %>
			<h3>Welcome Admin</h3>
			<br><%= link_to("See all Members", "/users") %><br>			
		<% else %>
			<h3>Welcome Customer</h3>
		<% end %>
		<%= link_to "Profile", edit_user_registration_path %>
		<br><%= link_to "See all Cars", cars_path %>
		<br><%= link_to "See all Reservations", reservations_path %>   
		<br><br><br><br>
		<%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>     
	<% else %>		
			<br><br><br>
			<br><%= link_to('Sign In', new_user_session_path)  %>
			<br><%= link_to("Sign Up", new_user_registration_path) %>
	<% end %>