<%= render 'dashboard/header' %>
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<% if is_superadmin %>
	<h4>List of superadmins</h4>
		<% @superadmins.each do |superadmin| %>
			id : <%= superadmin.id%>
			&nbsp; email : <%= superadmin.email %> <%= link_to("Show", users_show_path(:id => superadmin.id)) %> <br/>
		<% end %>
	<br>
<% end %>
<% if is_admin_or_superadmin %>
	<h4>List of Admins</h4>
		<% @admins.each do |admin| %>
			id : <%= admin.id%>
			&nbsp;email :<%= admin.email %> <%= link_to("Show", users_show_path(:id => admin.id)) %><br/>
		<% end %>
		<br>
	<h4> List of Users </h4>
		<% @users.each do |user| %>
			id : <%= user.id%>
		  &nbsp; email : <%= user.email %><%= link_to("Show", users_show_path(:id => user.id)) %><br/>
		<% end %>
	<br>
<% end %>
<% if is_customer %>
	<h3>Welcome Customer</h3>
<% end %>
<%= render 'dashboard/links' %>
