<%= form_for(@users, url: 'savenew') do |f| %>

  <div class="field">
	<%= f.label :email %><br />
	<%= f.email_field :email, :required => true,autofocus: true %>
  </div>

  <div class="field">
	<%= f.label :password %>
	<% if @minimum_password_length %>
	<em>(<%= @minimum_password_length %> characters minimum)</em>
	<% end %><br />
	<%= f.password_field :password, :required => true,autocomplete: "off" %>
  </div>

  <div class="field">
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, :required => true,autocomplete: "off" %>
  </div>

 <% if is_admin_or_superadmin %>
  <div class="field">
	<%= f.label :admin %>
	<%= f.check_box :admin, id: :users_admin%>
  </div>
<%end%>
 <% if is_superadmin %>
  <div class="field">
	<%= f.label :superadmin %>
	<%= f.check_box :superadmin, id: :users_superadmin%>
  </div>
<%end%>

  <div class="actions">
	<%= f.submit "Create User" %>
  </div>
<% end %>