<%= render 'dashboard/header' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.email %>
</p>

<p>
  <strong>Car:</strong>
  <%= @reservation.car.model %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @reservation.check_out %>
</p>

<p>
  <strong>Return:</strong>
  <%= @reservation.return %>
</p>

<p>
  <strong>Checked out:</strong>
  <%= @reservation.checked_out %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @reservation.returned %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @reservation.rent %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>


<%= render 'dashboard/links'%>