
<p id="notice"><%= notice %></p>
<div class="container container-fluid">
<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Style:</strong>
  <%= @car.style %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @car.rent %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Licence plate:</strong>
  <%= @car.licence_plate %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
